.participant {
  background: #333e5a;
  padding: 10px;
  border-radius: 6px;
  display: inline-block;
  margin-right: 10px;
}

.participant video {
  width: 100%;
  height: auto;
  max-width: 500px;
  min-width: 200px;
}

.participant:last-child {
  margin-right: 0;
}

.participant h3 {
  text-align: center;
  padding-bottom: 0.5em;
  color: #fff;
}
